<section class="heading-section">
    <div style="display: inline-block; vertical-align: top">
        <img class="logo" src="/assets/logo.png" />

        <div style="display: inline-block">
            <h1 class="title">ToDoList 2.0</h1>
        </div>
    </div>
</section>

<div class="container add-todo-box-container">
    <div class="add-todo-box">

        <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
            <h2 class="title is-5">New note</h2>

            <div class="field is-grouped" style="margin: 0">
                <p class="control is-expanded">
                    <input ngModel #todoTextField="ngModel" required minlenght="2" name="text" class="input" type="text" placeholder="Type toDo text here..." />
                </p>
                <p class="control">
                    <button type="submit" class="button alt-gradient-button">
                        <i class="material-icons">add</i>
                        Add
                    </button>
                </p>
            </div>

           
        </form>
    </div>
</div>

<section class="section">
    <div class="container">

        <div class="todos-list">

            <app-todo-item 
            *ngFor="let todo of todos" 
            [todo]="todo"
            (todoClicked)="toggleCompleted(todo)"
            (editClicked)="editTodo(todo)"
            (deleteClicked)="deleteTodo(todo)"

        ></app-todo-item>

        </div>
    </div>
</section>